@tailwind base;
@tailwind components;
@tailwind utilities;

/* .ant-btn-primary {
  background-color: #1677ff;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none !important;
}

button {
  outline: none !important;
  border-color: transparent;
}
